.feed{
    flex: .55;
    margin: 0 20px;
}
.feed__containerInput{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
}
.feed_profile_input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.feed__inputProfileIcon{
    margin-right: 6px;
    margin-left: -2px;
}
.feed__input{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 10px 16px;
    margin: 4px 0;
    width: 100%;
}
.feed__input:hover{
    background:rgba(0, 0, 0, .05);
}
.feed__input__icon{
    fill: gray !important;
    width: 24px !important;
    height: 24px !important;
}
.feed__input > form{
    width: 100%;
    display: flex;
}
.feed__input > form > input{
    margin-left: 10px;
    border: none;
    font-size: 14px;
    outline: 0;
    flex: 1;
    color: rgba(0, 0, 0, .8);
    font-weight: 600;
    background: none;
}
.feed__input > form > button{
    opacity: 0;
}
.feed__inputIcon{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;   
}

/*INPUTICONS*/

.inputIcon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
}
.inputIcon:hover{
    background:rgba(0, 0, 0, .05);
    border-radius: 10px;
}
.inputIcon > h3{
    font-size: 14px;
    color:rgba(0, 0, 0, .5);
    margin-left: 5px;
    font-weight: 500;
}

/*SEPARACION*/
.sepa__line{
    margin: 5px;
    margin-top: 10px;
}
/*POST*/

.post{
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.post__header{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.post__info{
    margin-left: 10px;
}
.post__info > h2{
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}
.post__info > p{
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}
.post__body{
    margin-top: 10px;
    position: relative;
}
.post__body > p{
    color: rgba(0, 0, 0, .8);
    font-size: 14px;
    margin-bottom: 10px;
}
.post__body > img{
    height: 350px;
    width: 100%;
    object-fit: fill;
    margin: 0 auto;
}
.post__bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}